[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
pipenv-to-requirements = "*"
twine = "*"

[packages]
izaber-wamp = "*"
tqdm = "*"

[requires]
python_version = "3"
